{% extends 'base.html.twig' %}
{% block title %}Profile page of {{ username }}{% endblock %}
{% block body %}
    <p>This is {{ username }} profile page!</p>
    <p>Email: {{ email }}</p>
    <a href="/profile"> back on profile page</a>
{% endblock %}